@page "/changepassword"

<h3>Change Password</h3>

@if (_showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
@if (_showMessage)
{
    <div class="alert alert-info" role="alert">
        <p>Password was changed</p>
    </div>

    <script>
        setTimeout(function () {
            location.reload();
        }, 3000);
    </script>
}

<div class="card">
    <div class="card-body">
        <EditForm Model="@_changePasswordDto" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <InputText id="currentPassword" @bind-Value="_changePasswordDto.CurrentPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => _changePasswordDto.CurrentPassword)" />
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <InputText id="newPassword" @bind-Value="_changePasswordDto.NewPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => _changePasswordDto.NewPassword)" />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <InputText id="confirmPassword" @bind-Value="_changePasswordDto.ConfirmPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => _changePasswordDto.ConfirmPassword)" />
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </EditForm>
    </div>
</div>
